@font-face {
  font-family: "CustomFont";
  src: url("fonts/PokemonGb-RAeo.ttf") format("truetype"),
    url("fonts/PokemonGb-RAeo.ttf") format("truetype");
}

body {
background-image: url(images/blue.png);
background-size: cover;
font-family: "CustomFont", sans-serif;
color: aliceblue;
}

button {
  background: #0981dd;
  font-family: inherit;
  padding: 0.3em 1em;
  font-weight: 900;
  border: 1px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}

button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.button-container {
  text-align: center;
  margin-top: 20px; /* Add margin to the top of the button container */
}
#begin,
#back, {
  margin-right: 20px;
}