@font-face {
  font-family: "CustomFont";
  src: url("fonts/PokemonGb-RAeo.ttf") format("truetype"),
    url("fonts/PokemonGb-RAeo.ttf") format("truetype");
}

body {
  background-image: url(images/blue.png);
  background-size: cover;
  font-family: "CustomFont", sans-serif;
  color: aliceblue;
}

button {
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 18px; /* Adjust font size as needed */
  border-radius: 8px; /* Adjust border radius as needed */
  margin-top: 100px; /* Adjust as needed to move buttons lower */
  background-color: #0981dd; /* Green */
  color: white;
  border: none;
  text-align: center;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.button-container {
  text-align: center;
  margin-top: 100px; /* Adjust as needed to move buttons lower */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

#begin,
#back {
  margin-right: 20px;
}
